In [46]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [47]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2020-12-24 22:19:42,-21.21,-159.78,82.40,69,46,10.29
1,1,Saverne,FR,2020-12-24 22:20:40,48.83,7.25,41.00,93,90,13.87
2,2,San Rafael Del Sur,NI,2020-12-24 22:20:41,11.85,-86.44,89.60,66,20,11.41
3,3,Punta Arenas,CL,2020-12-24 22:20:41,-53.15,-70.92,55.40,56,40,35.57
4,4,Hofn,IS,2020-12-24 22:20:41,64.25,-15.21,44.62,91,100,36.24

In [48]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [51]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [52]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [53]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
# Heatmap of percent wind
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [56]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [58]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Avarua,CK,2020-12-24 22:19:42,-21.21,-159.78,82.40,69,46,10.29
2,2,San Rafael Del Sur,NI,2020-12-24 22:20:41,11.85,-86.44,89.60,66,20,11.41
6,6,Mar Del Plata,AR,2020-12-24 22:16:10,-38.00,-57.56,86.00,69,0,18.34
22,22,Kapaa,US,2020-12-24 22:20:44,22.08,-159.32,80.60,69,20,17.22
34,34,Souillac,MU,2020-12-24 22:20:47,-20.52,57.52,77.00,94,75,14.99
38,38,Auki,SB,2020-12-24 22:20:48,-8.77,160.70,79.41,84,79,6.93
39,39,Mahebourg,MU,2020-12-24 22:20:48,-20.41,57.70,77.00,94,75,14.99
46,46,Rikitea,PF,2020-12-24 22:20:49,-23.12,-134.97,77.76,74,39,12.37
47,47,Butaritari,KI,2020-12-24 22:20:49,3.07,172.79,80.06,78,100,16.87
48,48,Road Town,VG,2020-12-24 22:20:46,18.42,-64.62,80.60,74,40,13.87

In [59]:
preferred_cities_df.count()

City_ID       148
City          148
Country       147
Date          148
Lat           148
Lng           148
Max Temp      148
Humidity      148
Cloudiness    148
Wind Speed    148
dtype: int64

In [60]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                  City Country  Max Temp    Lat     Lng Hotel Name
0               Avarua      CK     82.40 -21.21 -159.78
2   San Rafael Del Sur      NI     89.60  11.85  -86.44
6        Mar Del Plata      AR     86.00 -38.00  -57.56
22               Kapaa      US     80.60  22.08 -159.32
34            Souillac      MU     77.00 -20.52   57.52
38                Auki      SB     79.41  -8.77  160.70
39           Mahebourg      MU     77.00 -20.41   57.70
46             Rikitea      PF     77.76 -23.12 -134.97
47          Butaritari      KI     80.06   3.07  172.79
48           Road Town      VG     80.60  18.42  -64.62

In [68]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [71]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Avarua,CK,82.40,-21.21,-159.78,Paradise Inn
2,San Rafael Del Sur,NI,89.60,11.85,-86.44,Hospedaje El Chino
6,Mar Del Plata,AR,86.00,-38.00,-57.56,Gran Hotel Mar del Plata
22,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
34,Souillac,MU,77.00,-20.52,57.52,Bils' Villa
38,Auki,SB,79.41,-8.77,160.70,Auki Motel
39,Mahebourg,MU,77.00,-20.41,57.70,Shandrani Beachcomber Resort & Spa
46,Rikitea,PF,77.76,-23.12,-134.97,Pension Maro'i
47,Butaritari,KI,80.06,3.07,172.79,Isles Sunset Lodge
48,Road Town,VG,80.60,18.42,-64.62,"ZINGARA 76ft Catamaran, full crew-all included"

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Avarua,CK,82.40,-21.21,-159.78,Paradise Inn
2,San Rafael Del Sur,NI,89.60,11.85,-86.44,Hospedaje El Chino
6,Mar Del Plata,AR,86.00,-38.00,-57.56,Gran Hotel Mar del Plata
22,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
34,Souillac,MU,77.00,-20.52,57.52,Bils' Villa
38,Auki,SB,79.41,-8.77,160.70,Auki Motel
39,Mahebourg,MU,77.00,-20.41,57.70,Shandrani Beachcomber Resort & Spa
46,Rikitea,PF,77.76,-23.12,-134.97,Pension Maro'i
47,Butaritari,KI,80.06,3.07,172.79,Isles Sunset Lodge
48,Road Town,VG,80.60,18.42,-64.62,"ZINGARA 76ft Catamaran, full crew-all included"

In [72]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [73]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [75]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [76]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [77]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))